git+https://github.com/rebeeh/pyrogram.git@master
python-dotenv==1.0.1
urllib3==2.3.0
PyMySQL==1.1.1
TgCrypto==1.2.5
pytz~=2025.1
requests==2.31.0
SQLAlchemy~=2.0.20
huidevkit[db-orm]~=0.6.0
shortuuid~=1.0.13